@media screen and (max-width: 768px) {
    #hideme {
      display: none;
    }
    #loading {
      width: 80%;
      height: 80%;
      margin: 0 auto;
      background-position: center center;
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  
@media screen and (max-width: 768px){
    #mytable {
      overflow-x:auto;
    }
  }